/* Blocks */

:root {
  --primary-color: #006BA6;
  --secondary-color: #0496FF;
  --tertiary-color: #FFBC42;
  --accent-color: #D81159;
}

html, body, div[id="root"] {
  height: 100vh;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 1rem;
}

nav {
  height: 2.5rem; width: 2.5rem;
  position: fixed;
  top: 21px; right: 21px;
  box-shadow: 2px 1px 21px var(--primary-color);
  cursor: pointer;
}

ion-icon {
  font-size: 1.25rem;
}

/* Elements */

#App {
  min-height: 100vh; /*Width set to full viewport throught .container-fluid*/
  background-image: url("../images/pexels-johannes-plenio-1103970.jpg");
  background-size:  cover;
}
  #App aside { 
    position: fixed;
    bottom: 21px; left: 21px;
    font-size: 0.6rem
  }

#Timetable {
  max-width: 75vw;
}
  #Timetable .Loader {
    margin-top: 5rem;
  }
  #Timetable .NoResults {
    width: 100%;
    margin-top: 1rem;
    padding: 3rem;
    background-color: var(--secondary-color);
    color: white;
  }

#Login {
  max-width: 75vw;
}
  #Login form { 
    position: relative; 
  }
  #Login form :not(h1) { 
    font-size: 1rem;
  }

.Class .card {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.NoResults {
  font-size: 2rem;
}

/* Modifiers */

.error {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: white;
  box-shadow: none;
}

.error-suggestion {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: none;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
}
.text-primary {
  color: var(--primary-color) !important;
}

.btn-secondary { 
  background-color: var(--secondary-color) !important;
  border: none;
}

.text-danger {
  color: var(--accent-color) !important;
}

/*Media Queries*/
@media screen and (min-width: 0px) and (max-width: 576px) {
  :root { 
    font-size: 0.75rem; 
  }
  nav {
    top: 7px; right: 7px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  :root { font-size: 0.88rem; }
}

@media screen and (min-width: 769px) and (max-width: 1365px) {
  :root { font-size: 0.88rem; }
}

@media screen and (min-width: 1366px) {
  :root { font-size: 0.88rem; }
}


@media screen and (min-height: 0px) and (max-height: 300px) and (min-width: 1366px) {
  :root { font-size: 0.5rem; }
}

@media screen and (min-height: 301px) and (max-height: 600px) and (min-width: 1366px) {
  :root { font-size: 0.75rem; }
}
