/* Blocks */

:root {
  --primary-color: #006BA6;
  --secondary-color: #0496FF;
  --tertiary-color: #FFBC42;
  --accent-color: #D81159;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

nav {
  height: 2.5rem; width: 2.5rem;
  position: fixed;
  top: 21px; right: 21px;
  box-shadow: 2px 1px 21px var(--primary-color);
  cursor: pointer;
}

ion-icon {
  font-size: 1.5rem;
}

/* Elements */

.Class .card {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

#App {
  min-height: 100vh; /*Width set to full viewport throught .container-fluid*/
  background-image: url("../images/tim-mossholder-ShmRLyRv-S0-unsplash.jpg");
  background-size:  cover;
  background-repeat: round;
}
  #App aside { 
    position: fixed;
    bottom: 21px; left: 21px;
    font-size: 0.6rem
  }

#Timetable {
  min-height: 75vh;
  min-width: 75vw;
  max-height: 75vh;
  max-width: 75vw;
}

#Login {
  min-height: 75vh;
  min-width: 75vw;
  max-height: 50vh;
  max-width: 75vw;
}
  #Login form { 
    position: relative; 
}

/* Modifiers */

.error {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: white;
  box-shadow: none;
}

.error-suggestion {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: none;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
}
.text-primary {
  color: var(--primary-color) !important;
}

.btn-secondary { 
  background-color: var(--secondary-color) !important;
  border: none;
}

.text-danger {
  color: var(--accent-color) !important;
}

/*Media Queries*/
@media screen and (min-width: 0px) and (max-width: 576px) {
  :root { font-size: 0.66rem; }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  :root { font-size: 1rem; }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  :root { font-size: 1rem; }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  :root { font-size: 1rem; }
}
@media screen and (min-width: 1201px) {
  :root { font-size: 1rem; }
}